@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    background: theme("colors.teal.700");
    background: linear-gradient(to bottom, theme("colors.teal.700"), theme("colors.teal.800"));
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'JetBrains Mono';
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

p {
    font-size: 1.5em;
}

td,
th {
    padding: 0.25em;
    border: 1px solid #fff;
    line-height: 1.5;
}

th {
    font-weight: bold;
    font-size: 1.8em;
}

td {
    text-align: center;
}